$webResourceManager.requireResource("info.renjithv.jira.plugins.sysadmin.homedirectorybrowser:homedirectorybrowser-resources")
<html>
<head>
    <title>Database Console</title>
    <style>.CodeMirror {
        border: 1px solid grey;
        height: auto;
        width: auto;
    }
    </style>
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <a href="$req.contextPath/secure/DbConsole.jspa?atl_token=${atl_token}"><h1>Database Console</h1></a>
        </div>
    </div>
</header>
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <form action="#" method="post" id="h" class="aui unsectioned">
                <div class="field-group">
                    <label for="tables">Select Table</label>
                    <select class="select medium-field" id="tables" name="tables" title="table select">
                        <option value="ignore">- Select a table -</option>
                    </select>&nbsp;<span class="aui-icon aui-icon-wait" id="waiticontable">Wait</span>

                    <div class="description">Select the table to query.</div>
                </div>
                <div class="field-group" id="columndiv">
                    <label for="columns">Columns</label>
                    <select class="multi-select" size="7" multiple="multiple" id="columns"
                            name="columns" title="column select">
                    </select>

                    <div class="description">Select the list of columns that is to be returned in the
                        query.
                    </div>
                </div>
                <div class="field-group">
                    <label for="sql">Enter SQL<span class="aui-icon icon-required"></span><span
                            class="content"> required</span></label>
                    <textarea class="textarea" name="sql" id="sql"></textarea>
                </div>
                <div class="buttons-container">
                    <div class="buttons">
                        <input class="button submit" type="submit" value="Execute" id="execute-btn" title="Press Enter to Execute">
                        <span class="aui-icon aui-icon-wait" id="waiticon">Wait</span>
                    </div>
                </div>
                <table class="aui" id="basic">
                    <thead>
                    <tr id="headrow">
                    </tr>
                    </thead>
                    <tbody id="bodyarea">
                    </tbody>
                </table>
            </form>
            <div class="aui-message error" id="sqlerror"><span class="aui-icon icon-error"></span><span
                    id="sqlmessage">Error Message</span></div>
        </section>
    </div>
</div>
</body>
</html>